################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.DS_Store
npm-debug.log
/typings/
/.vs/config
/node_modules
/coverage/
/obj/Debug
/web.Release.config
/web.Debug.config
/web.config
/typings
/src/*.js
/src/*.js.map
/test/*.js
